*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
}

html {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

body {
  @include roboto('r');
  min-width: $mobile;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include oswald('b');
  margin-top: 0;
  margin-bottom: 0;
}
